<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-data-science" role="menuitem"><a href="{{site.baseurl}}tag/data-science/">Data Science</a></li>
    <li class="nav-algorithmic-trading" role="menuitem"><a href="{{site.baseurl}}tag/algorithmic-trading/">Trading</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/it-tips/">It Tips</a></li>
    <li class="nav-diary" role="menuitem"><a href="{{site.baseurl}}tag/diary/">Diary</a></li>
    <!-- 주석
    <li class="nav-goto-turtles3040" role="menuitem"><a href="https://github.com/turtles3040">turtles3040</a></li>
    -->
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Posts by Tag</a>
    </li>
</ul>
